#webcam-container {
    position: relative;
    width: 100%;
    height: auto;
}

#webcam {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

#canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    width: 100%;
    height: auto;
}